<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="customBasicAuthentication" type="NeedAGolferWCF.Authentication.CustomBasicAuthSection, NeedAGolferWCF"/>
	</configSections>
	<appSettings>
		<add key="ApplicationName" value="NeedAGolfer"/>
	</appSettings>
	<cachingConfiguration defaultCacheManager="NeedAGolferCache">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="NeedAGolferCache"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Null Storage"/>
		</backingStores>
	</cachingConfiguration>
	<connectionStrings>
    <!--<add name="MyConnString" connectionString="Data Source=SENECA\SQLEXPRESS;Initial Catalog=NeedAGolfer;Integrated Security=True"/>-->
    <add name="MyConnString" connectionString="Server=HAZEL.arvixe.com;Database=NeedAGolfer;Uid=xerxes78;Password=coltsrule;"/>
	</connectionStrings>
	<customBasicAuthentication enabled="true" realm="Need A Golfer" providerName="NeedAGolferMembershipProvider" requireSSL="false" cachingEnabled="true" cachingDuration="15"/>
	<system.web>
    <customErrors mode="Off"></customErrors>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="None"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<membership defaultProvider="NeedAGolferMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="NeedAGolferMembershipProvider" type="NeedAGolferWCF.Security.NeedAGolferMembershipProvider" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear"/>
			</providers>
		</membership>
		<httpModules>
			<add name="CustomBasicAuthModule" type="NeedAGolferWCF.Authentication.CustomBasicAuthModule, NeedAGolferWCF"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<modules>
			<add name="CustomBasicAuthModule" type="NeedAGolferWCF.Authentication.CustomBasicAuthModule, NeedAGolferWCF"/>
		</modules>
	</system.webServer>
	<system.serviceModel>
		<bindings>
      <webHttpBinding>
        <binding name="CustomBasicAuth" >
        </binding>
			</webHttpBinding>
      
		</bindings>
		<behaviors>
   <endpointBehaviors>
    <behavior name="RestServiceBehavior">
     <webHttp />
    </behavior>
   </endpointBehaviors>
   <serviceBehaviors>
    <behavior name="NeedAGolferWCF.GolferService">
     <serviceDebug includeExceptionDetailInFaults="true" />
     <serviceMetadata />
    </behavior>
    <behavior name="NeedAGolferWCF.ConfigService">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
		<services>
			<service name="NeedAGolferWCF.GolferService">
				<endpoint address="" behaviorConfiguration="RestServiceBehavior" binding="webHttpBinding" bindingConfiguration="CustomBasicAuth" contract="NeedAGolferWCF.IGolferService"/>
			</service>
      <service name="NeedAGolferWCF.ConfigService">
        <endpoint address="" behaviorConfiguration="RestServiceBehavior" binding="webHttpBinding" contract="NeedAGolferWCF.IConfigService"/>
      </service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" >
      <baseAddressPrefixFilters>
				<add prefix="http://services.needagolfer.com.HAZEL.arvixe.com/"/>
			</baseAddressPrefixFilters>
      </serviceHostingEnvironment>
	</system.serviceModel>
</configuration>
